.no-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body {
    background: rgb(60, 56, 44);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

#panel {
    width: 100%;
    top: 0;
    left: 0;
    height: 300px;
    background-color: rgb(174, 156, 152);
}

.screen {
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
}

.text {
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    color: rgb(215, 206, 190);
}

#name {
    font-size: 2em;
    bottom: 100%;
    left: 15%;
}

#hello {
    position: absolute;
    top: 26%;
    left: 34%;
    font-size: 9cqw;
}

#parent {
    margin-top: 6rem;
    margin-bottom: 2rem;
    max-width: 100%;
    aspect-ratio: 1895/1215;
    height: auto;
    container-type: inline-size;
}

#laptop {
    width: 100%;
}

#parent>#hello>span {
    opacity: 0;
    transition-property: opacity;
}

#parent:hover>#hello>span {
    opacity: 1;
}

#parent:hover #letter1 {
    transition-delay: 200ms;
}

#parent:hover #letter2 {
    transition-delay: 400ms;
}

#parent:hover #letter3 {
    transition-delay: 600ms;
}

#parent:hover #letter4 {
    transition-delay: 800ms;
}

#parent:hover #letter5 {
    transition-delay: 1000ms;
}

#parent:hover #letter6 {
    transition-delay: 1200ms;
}

#parent #letter6 {
    transition-delay: 200ms;
}

#parent #letter5 {
    transition-delay: 400ms;
}

#parent #letter4 {
    transition-delay: 600ms;
}

#parent #letter3 {
    transition-delay: 800ms;
}

#parent #letter2 {
    transition-delay: 1000ms;
}

#parent #letter1 {
    transition-delay: 1200ms;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#cursor {
    width: 2px;
    height: 15%;
    background-color: black;
    position: absolute;
    top: 29%;
    left: 33%;
    transition: 1000ms steps(6, end);
    animation: blink 500ms steps(2, jump-none) infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

#parent:hover>#cursor {
    left: 70%;
}

#mug {
    width: 25%;
    top: 45%;
    left: 90%;
    transition: transform .4s cubic-bezier(.34, .2, .56, .81);
}

#mug:hover {
    transform: translatey(-20%);

}

#snail {
    width: 33%;
    top: 65%;
    left: 10%;
    animation: 5s linear slide forwards;
}

@keyframes slide {
    0% {
        left: 10%;
    }

    100% {
        left: 60%;
    }
}

.social {
    text-align: center;
    opacity: 80%;
    font-size: 1em;
}

a {
    text-decoration: none;
}